<!-- División de sección 1 para 4 divs principales.  -->
<section id="training-section">
  <div class="h-1 bg-gray-200 rounded overflow-hidden mt-12">
    <div class="w-24 h-full bg-red-600"></div>
  </div>
  <!-- Selección de display flex y grid responsive  -->
  <div class="lg:flex md:grid md:grid-cols-2 mt-9">
    <div class="w-full">
      <img src="/images/h-img-2.jpg" class="w-full h-full object-cover" />
    </div>
    <!-- Img creada con Figma, con texto insertado, diseño responsive, con mucho margen de mejora y animación traslate-Y  -->
    <div
      style="background-image: url('/images/Group 1.png');"
      class="w-full lg:mt-10 bg-cover bg-center lg:p-4 md:p-4 hover:-translate-y-10 duration-500 ease-in-out transform"
    >
      <div class="md:pt-32 p-7">
        <h1
          class="text-white xl:text-5xl md:text-4xl text-5xl font-title mb-10 mt-5"
        >
          Nutrición
        </h1>
        <p class="text-zinc-300 mt-2 font-body lg:text-sm xl:text-lg">
          Alimenta tus metas con conocimiento y elecciones inteligentes. En <span
            class="text-red-600">Activ Gym</span
          >, nuestra orientación de nutrición te empodera para optimizar tu
          rendimiento y transformar tu bienestar desde adentro hacia afuera.
        </p>
      </div>
    </div>
    <div class="w-full">
      <img src="/images/h-img-3.jpg" class="w-full h-full object-cover" />
    </div>
    <div
      style="background-image: url('/images/Group 2.png');"
      class="w-full lg:mt-10 bg-cover bg-center lg:p-4 md:p-4 pt-12 hover:-translate-y-10 duration-500 ease-in-out transform"
    >
      <div class="md:pt-32 p-7">
        <h1
          class="text-white xl:text-5xl md:text-4xl text-5xl font-title mb-10"
        >
          Entrenamiento personal
        </h1>
        <p class="text-zinc-300 mt-2 font-body lg:text-sm xl:text-lg">
          Tu éxito personal es nuestra pasión. Nuestros entrenamientos
          personales te brindamos atención exclusiva y planes a medida,
          impulsándote hacia tus objetivos con el apoyo dedicado de nuestros
          expertos entrenadores.
        </p>
      </div>
    </div>
  </div>
</section>
<!--División de sección 2, con diferente orden al anterior, mismas propiedades -->
<section>
  <div class="lg:flex md:grid md:grid-cols-2">
    <div
      style="background-image: url('/images/Group 1.png');"
      class="w-full lg:mb-10 bg-cover bg-center lg:p-4 md:p-4 pt-12 border-t-2 border-zinc-900 hover:translate-y-10 duration-500 ease-in-out transform"
    >
      <div class="md:pt-32 p-7">
        <h1
          class="text-white xl:text-5xl md:text-4xl text-5xl font-title mb-10"
        >
          Cuerpo y mente
        </h1>
        <p class="text-zinc-300 font-body lg:text-sm xl:text-lg">
          Forjamos cuerpos fuertes y mentes imparables. Te acompañamos en el
          viaje hacia el equilibrio perfecto entre tu fortaleza física y tu
          claridad mental, desbloqueando tu máximo potencial en cada paso.
        </p>
      </div>
    </div>
    <div class="w-full">
      <img src="/images/h-img-4.jpg" class="w-screen h-full object-cover" />
    </div>
    <div
      style="background-image: url('/images/Group 2.png'); "
      class="w-full lg:mb-10 bg-cover bg-center lg:p-4 md:p-4 pt-12 hover:translate-y-10 duration-500 ease-in-out transform"
    >
      <div class="md:pt-32 p-7">
        <h1
          class="text-white xl:text-5xl md:text-4xl text-5xl font-title mb-10"
        >
          Entrenamiento funcional
        </h1>
        <p class="text-zinc-300 font-body lg:text-sm xl:text-lg">
          Desata tu funcionalidad innata a través de nuestros entrenamientos. El
          entrenamiento funcional te desafía a moverte de manera poderosa y
          natural, construyendo una base sólida para una vida activa y vibrante.
        </p>
      </div>
    </div>
    <div class="w-full">
      <img src="/images/h-img-5.jpg" class="w-full h-full object-cover" />
    </div>
  </div>
</section>

<!-- <p class="text-zinc-300 mt-2 font-body text-xl lg:text-sm xl:text-lg">
  Alimenta tus metas con conocimiento y elecciones inteligentes. En <span
    class="text-red-600">Activ Gym</span
  >, nuestra orientación de nutrición te empodera para optimizar tu
  rendimiento y transformar tu bienestar desde adentro hacia afuera.
</p> -->
