<header
  class="bg-cover bg-center py-16 md:py-32 lg:py-40 xl:py-64 xl:w-full xl:h-[86vh] xl:bg-fixed xl:bg-no-repeat xl:bg-cover xl:bg-center"
  style="background-image: url('/images/Gimnasio 1.jpg');"
>
  <!-- Título principal  -->
  <div class="text-white font-title flex mx-4 md:ml-14 md:mr-14">
    <h1
      class="text-center text-7xl pb-2 tracking-tight md:text-center md:text-8xl font-bold 2xl:text-9xl xl:text-8xl lg:text-center lg:text-8xl"
    >
      Forja vitalidad a través <br />de un <span class="text-red-600"
        >fitness</span
      > integral y <br /> desata tu mejor estilo de vida, <br />
      <span class="text-red-600">Empieza Hoy.</span>
    </h1>
  </div>
</header>
