<div class="text-4xl lg:text-5xl font-title text-center mt-10">
  <h2 class="font-title">
    ¿Qué es lo que <span class="text-red-600">hacemos</span>?
  </h2>
</div>
<section class="xl:flex col-auto lg:pt-20 gap-y-5">
  <!-- Div principal de leyenda -->

  <div class="lg:flex flex-1">
    <div
      class="flex flex-1 flex-col gap-y-8 lg:gap-y-10 px-6 md:pl-12 md:pr-12 pt-12 md:pt-20 pb-14"
    >
      <h2 class="text-4xl lg:text-5xl font-title text-center">
        Impulsamos tu potencial <br />
        inspirando <span class="text-red-600">resultados.</span>
      </h2>
      <!--Texto de la leyenda -->
      <div>
        <p class="text-xl lg:text-2xl text-zinc-500 font-body">
          Descubre una experiencia integral en <span class="text-red-500"
            >Activ Gym</span
          >, donde fusionamos la intensidad del cardio, entrenamientos de alto
          rendimiento, asesoramiento nutricional experto y guía personalizada de
          entrenadores profesionales. Tu camino hacia un bienestar total
          comienza aquí.
        </p>
        <!--Botón de la leyenda -->
        <button
          class="bg-stone-600 mt-6 w-36 h-12 text-white font-title tracking-widest hover:bg-black duration-300"
          >Ver el programa</button
        >
      </div>
    </div>
  </div>

  <div
    class="mx-4 md:mx-6 lg:mx-14 p-5 flex-1 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 font-body"
  >
    <!-- Cajas de información de los servicios -->
    <div class="text-center">
      <img
        src="/images/corazon-vida.png"
        class="w-20 m-auto transition ease-in-out delay-15 hover:-translate-y-1 hover:scale-110duration-300"
        alt="Cardio"
      />
      <h3 class="pb-0 font-title text-xl tracking-wide hover:text-red-600">
        Cardio
      </h3>
      <p class="mt-2 text-zinc-500 text-lg text-center">
        Transforma tu resistencia y salud cardiovascular con nuestros intensos
        entrenamientos cardio en <span class="text-red-600 font-bold"
          >Activ Gym</span
        >. ¡Únete para sudar y alcanzar tus metas de forma divertida y efectiva!
      </p>
    </div>
    <div class="text-center">
      <img
        src="/images/dieta.png"
        class="w-20 m-auto transition ease-in-out delay-15 hover:-translate-y-1 hover:scale-110duration-300"
        alt="Consejos nutricionales"
      />
      <h3 class="pb-0 font-title text-xl tracking-wide hover:text-red-600">
        Consejos nutricionales
      </h3>
      <p class="mt-2 text-zinc-500 text-lg text-center">
        Nuestros consejos nutricionales te brindan el mapa hacia una
        alimentación balanceada y saludable, potenciando tus esfuerzos en el
        gimnasio.
      </p>
    </div>
    <div class="text-center">
      <img
        src="/images/saludable.png"
        class="w-20 m-auto transition ease-in-out delay-15 hover:-translate-y-1 hover:scale-110duration-300"
        alt="Entrenadores personales"
      />
      <h3 class="pb-0 font-title text-xl tracking-wide hover:text-red-600">
        Entrenadores personales
      </h3>
      <p class="mt-2 text-zinc-500 text-lg text-left">
        Nuestros entrenadores personales te guiarán con pasión y conocimiento,
        adaptando planes únicos que acelerarán tu progreso.
      </p>
    </div>
    <div class="text-center">
      <img
        src="/images/musculo.png"
        class="w-20 m-auto hover:filter transition ease-in-out delay-15 hover:-translate-y-1 hover:scale-110duration-300"
        alt="Entrenamiento"
      />
      <h3 class="pb-0 font-title text-xl tracking-wide hover:text-red-600">
        Entrenamiento
      </h3>
      <p class="mt-2 text-zinc-500 text-lg text-center">
        Desafía tus límites y descubre tu potencial en cada sesión de
        entrenamiento. Conduce tu cuerpo hacia el éxito con nuestra variedad de
        rutinas diseñadas para inspirarte y superarte.
      </p>
    </div>
  </div>
</section>
