<section class="text-gray-600 body-font overflow-hidden" id="prices-section">
  <div class="h-1 bg-gray-200 rounded overflow-hidden mt-12">
    <div class="w-24 h-full bg-red-600"></div>
  </div>
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <!-- Encabezado -->
      <h1
        class="xl:text-5xl md:text-4xl text-5xl font-title title-font mb-2 text-gray-900"
      >
        Precios
      </h1>
      <p
        class="lg:w-2/3 mx-auto leading-relaxed text-xl font-body text-gray-500"
      >
        Conoce la variedad de planes que tenemos para ti, dándo click en el plan
        que prefieras e <span class="text-red-500">iniciar ahora</span> estarás con
        uno de nuestros asesores.
      </p>
      <div
        class="flex mx-auto border-2 border-red-500 rounded overflow-hidden mt-6"
      >
        <button class="py-1 px-4 bg-red-500 text-white focus:outline-none"
          >Mensual</button
        >
        <button class="py-1 px-4 focus:outline-none">Anual</button>
      </div>
    </div>
    <!-- Tarjetas (1) -->
    <div class="flex flex-wrap -m-4">
      <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
        <div
          class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden"
        >
          <h2 class="text-lg tracking-widest mb-1 font-title">Inicial</h2>
          <h1
            class="text-5xl text-gray-900 pb-4 mb-4 border-b border-gray-200 leading-none font-title"
          >
            Cortesia
          </h1>
          <p class="flex items-center text-gray-600 mb-2 font-body">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>3 días de acceso completo a nuestras instalaciones modernas
          </p>
          <p class="flex items-center text-gray-600 mb-2 font-body">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Clases introductorias guiadas por entrenadores expertos
          </p>
          <p class="flex items-center text-gray-600 mb-6 font-body">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Sin costos ni compromisos iniciales
          </p>
          <a
            href="https://api.whatsapp.com/send?phone=+573022121140&text=¡Hola! Quiero iniciar el plan de CORTESIA."
            target="_blank"
            class="flex items-center mt-auto text-white bg-gray-400 border-0 py-2 px-4 w-full focus:outline-none hover:bg-gray-500 rounded font-body"
            >¡Inicia ahora!
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-auto"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <p class="text-xs text-gray-500 mt-3 font-body">
            Aplican términos y condiciones.
          </p>
        </div>
      </div>
      <!-- Tarjetas (2) -->
      <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
        <div
          class="h-full p-6 rounded-lg border-2 border-red-500 flex flex-col relative overflow-hidden"
        >
          <span
            class="bg-red-500 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl font-title"
            >POPULAR</span
          >
          <h2
            class="text-sm tracking-widest title-font mb-1 font-medium font-title"
          >
            PRO
          </h2>
          <h1
            class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200 font-title"
          >
            <span>$55k</span>
            <span class="text-lg ml-1 font-normal text-gray-500">/m</span>
          </h1>
          <p class="flex items-center text-gray-600 mb-2 font-body">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Acceso ilimitado durante un mes a nuestras instalaciones
          </p>
          <p class="flex items-center text-gray-600 mb-2 font-body">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Variedad de clases y actividades disponibles
          </p>
          <p class="flex items-center text-gray-600 mb-2 font-body">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Flexibilidad para adaptar tu horario de entrenamiento
          </p>
          <p class="flex items-center text-gray-600 mb-6 font-body">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Opción de cancelar /aplazar o cambiar el plan mensualmente
          </p>
          <a
            href="https://api.whatsapp.com/send?phone=+573022121140&text=¡Hola! Quiero iniciar el plan pro MENSUAL."
            target="_blank"
            class="flex items-center mt-auto text-white bg-red-500 border-0 py-2 px-4 w-full focus:outline-none hover:bg-red-600 rounded font-body"
            >¡Inicia ahora!
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-auto"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <p class="text-xs text-gray-500 mt-3 font-body">
            Aplican términos y condiciones.
          </p>
        </div>
      </div>
      <!-- Tarjetas (3) -->
      <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
        <div
          class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden"
        >
          <h2 class="text-sm tracking-widest title-font mb-1 font-title">
            Anual
          </h2>
          <h1
            class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200 font-title"
          >
            <span>$580k</span>
            <span class="text-lg ml-1 font-normal text-gray-500">/A</span>
          </h1>
          <p class="flex items-center text-gray-600 mb-2 font-body">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Acceso completo durante todo el año a nuestras instalaciones
          </p>
          <p class="flex items-center text-gray-600 mb-2 font-body">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Descuento significativo en comparación con planes mensuales
          </p>
          <p class="flex items-center text-gray-600 mb-2 font-body">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Incluye evaluaciones periódicas de progreso
          </p>
          <p class="flex items-center text-gray-600 mb-2 font-body">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Acceso a eventos y beneficios exclusivos para miembros
            anuales
          </p>

          <a
            href="https://api.whatsapp.com/send?phone=+573022121140&text=¡Hola! Quiero Adquierir el plan ANUAL."
            target="_blank"
            class="flex items-center mt-auto text-white bg-gray-400 border-0 py-2 px-4 w-full focus:outline-none hover:bg-gray-500 rounded font-body"
            >¡Inicia ahora!
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-auto"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <p class="text-xs text-gray-500 mt-3 font-body">
            Aplican términos y condiciones.
          </p>
        </div>
      </div>
      <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
        <div
          class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden font-title"
        >
          <h2 class="text-sm tracking-widest title-font mb-1 font-medium">
            Especial / Familiar
          </h2>
          <h1
            class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200"
          >
            <span>$50k</span>
            <span class="text-lg ml-1 font-normal text-gray-500">/m</span>
          </h1>
          <p class="flex items-center text-gray-600 mb-2 font-body">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Acceso ilimitado durante un mes a nuestras instalaciones
          </p>
          <p class="flex items-center text-gray-600 mb-2 font-body">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Opción ideal para compartir una vida activa juntos
          </p>
          <p class="flex items-center text-gray-600 mb-2 font-body">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Oportunidad de fortalecer lazos mientras se prioriza la salud
          </p>
          <p class="flex items-center text-gray-600 mb-2 font-body">
            <span
              class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                class="w-3 h-3"
                viewBox="0 0 24 24"
              >
                <path d="M20 6L9 17l-5-5"></path>
              </svg>
            </span>Descuento especial
          </p>

          <a
            href="https://api.whatsapp.com/send?phone=+573022121140&text=¡Hola! Quiero conocer e iniciar sobre el plan ESPECIAL/FAMILIAR."
            target="_blank"
            class="flex items-center mt-auto text-white bg-gray-400 border-0 py-2 px-4 w-full focus:outline-none hover:bg-gray-500 rounded font-body"
            >¡Inicia ahora!
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-auto"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <p class="text-xs text-gray-500 mt-3 font-body">
            Aplican términos y condiciones.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
