<section class="py-10 flex-1" id="schedule-section">
  <div
    class="grid md:grid-cols-1 lg:grid-cols-1 gap-6 pl-4 pr-4 md:pl-12 md:pr-12 pt-12 md:pt-20 pb-14"
  >
    <div>
      <h1 class="font-title text-4xl md:text-5xl text-center">
        Horario y planes personalizados para todos
      </h1>
    </div>
    <div class="md:pr-16 xl:pl-12">
      <p
        class="lg:w-2/3 mx-auto leading-relaxed font-body text-left text-xl text-zinc-500"
      >
        En <span class="text-red-600">Activ Gym</span> encuentra la flexibilidad
        que necesitas con nuestros horarios de gimnasio diseñados para adaptarse
        a tu vida ocupada. Además, experimenta la máxima conveniencia con nuestros
        entrenamientos personales, programados según tu disponibilidad para lograr
        resultados óptimos.
      </p>
    </div>
  </div>
</section>

<div class="grid md:grid-cols-2 md:flex gap-10 justify-center pb-10">
  <div
    class="card card-compact w-96 bg-white shadow-xl transition ease-in-out delay-15 hover:-translate-y-1 hover:scale-110duration-300"
  >
    <figure>
      <img src="/images/gym color 2.jpg" alt="Shoes" />
    </figure>
    <div class="card-body">
      <h2
        class="card-title text-xl md:text-2xl font-title mb-1 md:mb-2 text-red-600"
      >
        Lunes a viernes
      </h2>
      <p class="text-xl md:text-2xl font-body text-gray-600">
        6:00am - 9:00 pm
      </p>
      <div class="card-actions justify-end"></div>
    </div>
  </div>
  <div
    class="card card-compact w-96 bg-white shadow-xl transition ease-in-out delay-15 hover:-translate-y-1 hover:scale-110duration-300"
  >
    <figure>
      <img src="/images/gym color 3.jpg " alt="Shoes" />
    </figure>
    <div class="card-body">
      <h2
        class="card-title text-xl md:text-2xl font-title mb-1 md:mb-2 text-red-600"
      >
        Sábados
      </h2>
      <p class="text-xl md:text-2xl font-body text-gray-600">
        6:00am - 2:00 pm
      </p>
      <div class="card-actions justify-end"></div>
    </div>
  </div>
  <div
    class="card card-compact w-96 bg-white shadow-xl transition ease-in-out delay-15 hover:-translate-y-1 hover:scale-110duration-300"
  >
    <figure>
      <img src="/images/gym color.jpg" alt="Shoes" />
    </figure>
    <div class="card-body">
      <h2
        class="card-title text-xl md:text-2xl font-title mb-1 md:mb-2 text-red-600"
      >
        Festivos
      </h2>
      <p class="text-xl md:text-2xl font-body text-gray-600">
        8:00am - 1:00 pm
      </p>
      <div class="card-actions justify-end"></div>
    </div>
  </div>
</div>
