<section class="text-gray-600 body-font" id="trainer-section">
  <div class="h-1 bg-gray-200 rounded overflow-hidden mt-12">
    <div class="w-24 h-full bg-red-600"></div>
  </div>
  <div class="container px-5 py-14 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1
        class="xl:text-5xl md:text-4xl text-5xl font-medium title-font mb-4 text-gray-900 tracking-widest font-title"
      >
        Nuestro Equipo
      </h1>
      <p
        class="lg:w-2/3 mx-auto leading-relaxed font-body text-left text-xl text-zinc-500"
      >
        Nuestro apasionado equipo está compuesto por entrenadores certificados y
        profesionales en fitness y nutrición. Juntos, estamos comprometidos a
        guiarte en cada paso hacia tus objetivos de bienestar en <span
          class="text-red-600">Activ Gym</span
        >.
      </p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/2">
        <div
          class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
        >
          <img
            alt="team"
            class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
            src="/images/Activ_logo.png"
          />
          <div class="flex-grow sm:pl-8">
            <h2 class="font-title font-medium text-3xl text-gray-900">Frank</h2>
            <h3 class="font-body text-red-600 mb-3 text-base">
              Recepción/Gerente
            </h3>
            <p class="mb-4 font-body text-lg text-left text-zinc-500">
              El fundador y lider, un apasionado del fitness comprometido en
              brindarte la mejor experiencia para transformar tu vida.
            </p>
            <span class="inline-flex gap-1">
              <a class="text-gray-500"
                ><a class="text-gray-500">
                  <img
                    src="/images/instagram.png"
                    alt=""
                    class="w-6 h-6 bg-cover"
                  />
                </a>
              </a>
              <a class="text-gray-500"
                ><a class="text-gray-500">
                  <img
                    src="/images/facebook.png"
                    alt=""
                    class="w-6 h-6 bg-cover"
                  />
                </a>
              </a>
              <a class="text-gray-500"
                ><a class="text-gray-500">
                  <img
                    src="/images/comentario.png"
                    alt=""
                    class="w-6 h-6 bg-cover"
                  />
                </a>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div
          class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
        >
          <img
            alt="team"
            class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
            src="/images/Ramon.jpg"
          />
          <div class="flex-grow sm:pl-8">
            <h2 class="font-title font-medium text-3xl text-gray-900">Ramon</h2>
            <h3 class="font-body text-red-600 mb-3 text-base">Entrenador</h3>
            <p class="mb-4 font-body text-lg text-left text-zinc-500">
              Nuestro entrenador, experto en fitness y motivación, está aquí
              para guiarte hacia tus metas con un enfoque personalizado y
              energizante.
            </p>
            <span class="inline-flex gap-1">
              <a class="text-gray-500"
                ><a class="text-gray-500">
                  <img
                    src="/images/instagram.png"
                    alt=""
                    class="w-6 h-6 bg-cover"
                  />
                </a>
              </a>
              <a class="text-gray-500"
                ><a class="text-gray-500">
                  <img
                    src="/images/facebook.png"
                    alt=""
                    class="w-6 h-6 bg-cover"
                  />
                </a>
              </a>
              <a class="text-gray-500"
                ><a class="text-gray-500">
                  <img
                    src="/images/comentario.png"
                    alt=""
                    class="w-6 h-6 bg-cover"
                  />
                </a>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div
          class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
        >
          <img
            alt="team"
            class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
            src="/images/Activ_logo.png"
          />
          <div class="flex-grow sm:pl-8">
            <h2 class="font-title font-medium text-3xl text-gray-900">
              Jackelin
            </h2>
            <h3 class="font-body text-red-600 mb-3 text-base">Entrenadora</h3>
            <p class="mb-4 font-body text-lg text-left text-zinc-500">
              Nuestra entrenadora, una inspiración en fitness y bienestar, te
              guiará con empatía hacia un camino de fuerza y confianza personal.
            </p>
            <span class="inline-flex gap-1">
              <a class="text-gray-500"
                ><a class="text-gray-500">
                  <img
                    src="/images/instagram.png"
                    alt=""
                    class="w-6 h-6 bg-cover"
                  />
                </a>
              </a>
              <a class="text-gray-500"
                ><a class="text-gray-500">
                  <img
                    src="/images/facebook.png"
                    alt=""
                    class="w-6 h-6 bg-cover"
                  />
                </a>
              </a>
              <a class="text-gray-500"
                ><a class="text-gray-500">
                  <img
                    src="/images/comentario.png"
                    alt=""
                    class="w-6 h-6 bg-cover"
                  />
                </a>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div
          class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
        >
          <img
            alt="team"
            class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
            src="/images/Laura.jpg"
          />
          <div class="flex-grow sm:pl-8">
            <h2 class="font-title font-medium text-3xl text-gray-900">Laura</h2>
            <h3 class="font-body text-red-600 mb-3 text-base">
              Recepción/Funcional
            </h3>
            <p class="mb-4 font-body text-lg text-left text-zinc-500">
              Nuestra recepcionista multitarea y entusiasta es tu primer punto
              de contacto en Activ Gym. Además, aporta su energía al equipo de
              entrenamientos funcionales.
            </p>
            <span class="inline-flex gap-1">
              <a class="text-gray-500"
                ><a class="text-gray-500">
                  <img
                    src="/images/instagram.png"
                    alt=""
                    class="w-6 h-6 bg-cover"
                  />
                </a>
              </a>
              <a class="text-gray-500"
                ><a class="text-gray-500">
                  <img
                    src="/images/facebook.png"
                    alt=""
                    class="w-6 h-6 bg-cover"
                  />
                </a>
              </a>
              <a class="text-gray-500"
                ><a class="text-gray-500">
                  <img
                    src="/images/comentario.png"
                    alt=""
                    class="w-6 h-6 bg-cover"
                  />
                </a>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
