<footer
  class="footer footer-center p-6 md:p-10 bg-zinc-800 text-base-content rounded"
>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 md:gap-8 font-title text-lg md:text-xl"
  >
    <a class="link link-hover">Acerca de nosotros</a>
    <a class="link link-hover">Contacto</a>
    <a class="link link-hover">Redes sociales</a>
    <a class="link link-hover">Visítanos</a>
  </div>
  <div class="mt-4 md:mt-0">
    <div class="grid grid-cols-3 md:grid-cols-3 gap-4">
      <a
        ><img
          src="/images/instagram b&n.png"
          alt=""
          class="w-10 h-10 bg-cover hover:opacity-50"
        /></a
      >
      <a
        ><img
          src="/images/facebook b&n.png"
          alt=""
          class="w-10 h-10 bg-cover hover:opacity-50"
        /></a
      >
      <a
        ><img
          src="/images/conversacion b&n.png"
          alt="logo"
          class="w-10 h-10 bg-cover hover:opacity-50"
        /></a
      >
    </div>
  </div>
  <div class="font-body mt-4 md:mt-0">
    <p class="text-sm">Copyright © 2023 - All rights reserved</p>
  </div>
</footer>
