<header>
  <!-- Ccabecera del nav  -->
  <nav
    class="mx-auto px-9 py-2 p-0 bg-white md:flex md:items-center md:justify-between"
  >
    <div class="flex justify-between items-center">
      <!-- logo del gimnasio responsivo   -->
      <a
        class="text-2xl font-title cursor-pointer"
        href="https://activ-gym-v2.netlify.app"
      >
        <img
          src="../images/Activ_logo.png"
          class="h-20 inline hover:opacity-75 duration-500"
          alt="Actyv logo"
        />
      </a>
      <!--  menú hamburguesa -->
      <span class="text-3xl cursor-pointer mx-2 md:hidden block">
        <button id="boton-nav">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 fill-current text-zinc-800"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0l-3.75-3.75M17.25 21L21 17.25"
            ></path>
          </svg>
        </button>
      </span>
    </div>
    <!-- Lista de nav tamaño lg  -->
    <ul
      class="md:flex md:items-center z-[-1] md:z-auto md:static absolute w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] text-xl transition-all ease-in duration-500 font-title"
      id="menu-nav-1"
    >
      <li class="mx-6 my-6 md:my-0">
        <a
          href="#our-program-section"
          class="text-zinc-800 hover:text-red-600 duration-500 link-hover"
          >Nuestro programa</a
        >
      </li>
      <li class="mx-6 my-6 md:my-0">
        <a
          href="#training-section"
          class="text-zinc-800 hover:text-red-600 duration-500 link-hover"
          >Entrenamientos</a
        >
      </li>
      <li class="mx-6 my-6 md:my-0">
        <a
          href="#video-section"
          class="text-zinc-800 hover:text-red-600 duration-500 link-hover"
          >Ruta inicial</a
        >
      </li>
      <li class="mx-6 my-6 md:my-0">
        <a
          href="#trainer-section"
          class="text-zinc-800 hover:text-red-600 duration-500 link-hover"
          >Equipo</a
        >
      </li>
      <li class="mx-6 my-6 md:my-0">
        <a
          href="#prices-section"
          class="text-zinc-800 hover:text-red-600 duration-500 link-hover"
          >Precios</a
        >
      </li>
      <li class="mx-4 my-6 md:my-0">
        <a
          href="#contact-section"
          class="text-zinc-800 hover:text-red-600 duration-500 link-hover"
          >Contacto</a
        >
      </li>
      <li class="mx-6 my-6 md:my-0">
        <a
          href="#schedule-section"
          class="text-zinc-800 hover:text-red-600 duration-500 link-hover"
          >Horarios</a
        >
      </li>
    </ul>
  </nav>
  <!-- Menú desplegable del nav  -->
  <nav class="hidden md:hidden" id="mobile-menu">
    <ul class="space-y-1 px-4 pb-1 pt-4 text-lg bg-white text-black font-title">
      <li>
        <a href="#our-program-section" class="block rounded-md px-3 py-2"
          >Nuestro programa</a
        >
      </li>
      <li>
        <a href="#training-section" class="block rounded-md px-3 py-2"
          >Entrenamientos</a
        >
      </li>
      <li>
        <a href="#video-section" class="block rounded-md px-3 py-2"
          >Ruta inicial</a
        >
      </li>
      <li>
        <a href="#trainer-section" class="block rounded-md px-3 py-2">Equipo</a>
      </li>
      <li>
        <a href="#prices-section" class="block rounded-md px-3 py-2">Precio</a>
      </li>
      <li>
        <a href="#contact-section" class="block rounded-md px-3 py-2"
          >Contacto</a
        >
      </li>
      <li>
        <a href="#schedule-section" class="block rounded-md px-3 py-2"
          >Horarios</a
        >
      </li>
    </ul>
  </nav>
  <!--  script del menú de navegación desplegable  -->
  <script>
    const botonHamburguesa = document.getElementById("boton-nav");
    const navLinks = document.getElementById("mobile-menu");

    botonHamburguesa.addEventListener("click", () => {
      navLinks.classList.toggle("hidden");
    });

    // script para el scroll del botón de "equipo"

    function scrollToSection(event, sectionId) {
      const targetSection = document.getElementById(sectionId);
      if (targetSection) {
        targetSection.scrollIntoView({
          behavior: "smooth",
        });
      }
    }

    //Our program section
    document
      .getElementById("our-program-section")
      .addEventListener("click", function (event) {
        scrollToSection(event, "our-program-section");
      });
    //Training section
    document
      .getElementById("training-section")
      .addEventListener("click", function (event) {
        scrollToSection(event, "training-section");
      });
    //Video section
    document
      .getElementById("video-section")
      .addEventListener("click", function (event) {
        scrollToSection(event, "video-section");
      });
    //Trainer section
    document
      .getElementById("trainer-section")
      .addEventListener("click", function (event) {
        scrollToSection(event, "trainer-section");
      });
    //Prices section
    document
      .getElementById("prices-section")
      .addEventListener("click", function (event) {
        scrollToSection(event, "prices-section");
      });
    //Contact section
    document
      .getElementById("contact-section")
      .addEventListener("click", function (event) {
        scrollToSection(event, "contact-section");
      });
    //Schedule section
    document
      .getElementById("schedule-section")
      .addEventListener("click", function (event) {
        scrollToSection(event, "schedule-section");
      });

    // Agrega más enlaces con eventos similares para otras secciones
  </script>
</header>
