<div
  class="container-boton fixed bottom-0 right-0 z-50 p-2 rounded-full transition-transform duration-300 animate-bounce w-28"
>
  <a
    href="https://api.whatsapp.com/send?phone=+573022121140&text=¡Hola! Quiero más información para ingresar en el gimnasio."
    target="_blank"
  >
    <img src="/images/WhatsApp notifi.png" alt="WhatsApp" /></a
  >
</div>
